body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

  h2, p {
    color: white;    
}

h4, span {
    color: black;
}

.text-center {
    color: #416a8b;
}

p {
  font-style: italic;
}

.App {
  text-align: center;
}

.bottom-nav {
  margin-top: 12% !important;
}

.login-image {
  position: relative;
  right: 25%
}

.login-container {
  padding-top: 4%;
  padding-left: 20%;
  padding-right: 25%
}

.login-form {
  border: solid lightgray;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%
}

#login-btn {
  background-color: #3f698c;
}

.img-boxes {
  background-color: lightblue;
}